/* resetting body styles inherited from browser
*/
body {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: blue;
}

#north, #south {
    width: 800px;
    background-color:red;
    clear: both;
}

#west, #center, #east {
    float: left;
}

#west, #east {
    width: 100px;
    background-color: beige;
}

#center {
    width: 600px;
    background-color: gray;
}

#container {
    width: 800px;
    margin: auto;
}

.row {
    clear:both;
    width:780px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}
.col-1 {
    width: 65px;
}
.col-2 {
    width: 130px;
}
.col-3 {
    width: 195px;
}
.col-4 {
    width: 260px;
}
.col-5 {
    width: 325px;
}
